/* nav tittle style */

.open-sansnormal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth"100%;

}

.nav-tittle {
  font-size: 45px;
  font-weight: 800;
}

.text-primary {
  color: #FD6E0A;
}

/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

/* nav ul style */
nav ul li {
  list-style: none;
  margin-right: 51px;

}

.btn-primary {
  background-color: #FD6E0A;
  font-weight: 800;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 35px;
  border: none;
  margin: 50px auto 0px;
  /* display: block; */


}
.text-center{
  display: flex;
  justify-content: center;
}


nav li a {
  text-decoration: none;
  font-size: 20px;
  font-size: 20px;

}

.dark-2 {
  color: #474747;
}

nav ul {
  display: flex;
  align-items: center;

}

/* banner styles */
.banner-greadient {
  font-size: 45px;
  font-weight: 600px;
}

.banner-tittle {
  font-size: 85px;
  font-weight: bold;
}

.banner-image {

  width: 584;
}

.banner {
  display: flex;
}

.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #FFF8F3;
}

.banner-content {
  height: 356px;
  max-width: 585px;
  margin-top: 150px;
  margin-left: 250px;
}

.banner-description {
  width: 585;
  /* font-size: ; */
}

.section-tittle {
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}

.section-description {
  font-size: 16px;
  color: #757575;
  text-align: center;
}

.secendarey-bg {
  background-color: #FFF8F3;
}

/* about me styles */
.about {
  border-radius: 10px;
  margin: 0px 220px;
  padding: 130px 155px;
  margin-top: 71px;


}

/* main styles */
main {
  font-weight: 1140px;

}

.main {
  /* background-color: #FFFFFF; */
}

.about-iteams {
  display: flex;
  justify-content: space-around;
}

.iteam-description {
  font-weight: bold;
}

.text-alignment {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.about-tittle {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.about-all {
  background-color: #FFFFFF;
  border: 1px solid;
}

.skills-container {
  display: flex;
  margin: 0px 170px;
  gap: 24px;
  padding: 33px;
}

.skill {
  padding: 33px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

/* resume-section-style */
.resume-container {
  display: flex;
  gap: 24px;
}

.resume {
  margin: 0px 200px;
  margin-bottom: 100px;
}

.resume-tittle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.resume-coulmn-tittle {
  font-weight: bold;
  font-size: 30px;
}

.experience-tittle {
  font-weight: bold;
  font-size: 25px;
}

.experience-sub-tittle {
  font-weight: 600px;
}

.experience-description {
  font-size: 16px;
  color: #rgba(117, 117, 117, 1);
}

/* .btn-primary{ */
background-color: #FD6E0A;
margin-left: 700px;
margin-right: 700px;
}

.footer {
  height: 780px;
  width: 1600px;
  background-color: #FFF8F3;
}

/* footer-styles */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;

}